.buy {
  position: relative;
  padding-right: 1rem;
  &__menu {
    position: absolute;
    z-index: 10;
    padding: 0.25rem;
    min-width: 250px;
    right: 0;
    width: 100%;
    background-color: var(--primary-color-mark);
    transform: translateX(150%);
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
    transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__figure {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.translateX {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
