.menu {
  &__list {
    position: absolute;
    left: 1.5rem;
    width: 50%;
    border: thin solid var(--primary-color-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-block: 2rem;
    list-style-type: none;
    z-index: 5;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &__a {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-color-text);
    font-size: clamp(1rem, 2.5vw, 1.9rem);
  }
}
.translate {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

@media screen and (min-width: 62.5em) {
  .menu {
    &__list {
      position: static;
      width: auto;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
    &__a {
      transition: opacity 0.5s linear;
      -webkit-transition: opacity 0.5s linear;
      -moz-transition: opacity 0.5s linear;
      -ms-transition: opacity 0.5s linear;
      -o-transition: opacity 0.5s linear;

      &:hover {
        opacity: 0.45;
      }
    }
  }
}
