.button {
  background-color: transparent;
  border: none;
  display: inline-block;
  width: clamp(2.5rem, 5vw, 4rem);
  cursor: pointer;

  &__img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}
