html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Comme", sans-serif;
  height: 100%;
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
:root {
  --primary-color-text: #0d1b2a;
  --primary-background-root: #e0e1dd;
  --primary-color-mark: #1b263b;
  --primary-background-btn: #415a77;
  --primary-color-border: #2b2d42;
  --hover-btn: #778da9;
}
body {
  height: 100%;
  background-color: var(--primary-background-root);
}

#root {
  max-width: 1500px;
  height: 100%;
  margin: {
    right: auto;
    left: auto;
  }
  color: var(--primary-color-text);
}
